.index {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#main-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.el-aside {
    width: 350px;
    background-color: #d9ecff;
}


.el-descriptions-item {
    width: 350px;
}
.el-tree {
    background-color: #F0F2F5;
    border-style: dashed;
    border-color: #DCDFE6;
    border-width: 5px;
    padding-top: 20px;
   
}

.el-main {
    height: 100%;
    overflow: hidden;
}

.el-footer {
    display: flex;
    height: 4vh;
    width: 100%;
    align-items: center;
}

.el-row {
    margin-top: 10px;
    margin-bottom: 10px;
}