.index {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.el-main {
    height: 100%;
    overflow: hidden;
}

.el-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.el-footer {
    display: flex;
    height: 4vh;
    width: 100%;
    align-items: center;
}